<!DOCTYPE html>
<html>
<head>
	<title>{% block page_title %}MordHub{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css"/>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/static/css/site.css"/>

	<!-- UIkit JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script> 
</head>

<body>
	<header id="site-head">
		<div class="uk-container uk-container-expand">
			<div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
				<div class="uk-width-auto">
					<a href="/" class="uk-link-heading">MordHub</a>
				</div>
				<div class="uk-width-expand"></div>
				<div class="uk-width-auto">
					<ul class="uk-subnav" data-uk-margin>
						<li class="uk-visible@s{% match base.active_link %}{% when ActiveLink::Home %} uk-active{% else %}{% endmatch %}"><a href="/">Home</a></li>
						<li class="uk-visible@s{% match base.active_link %}{% when ActiveLink::Loadouts %} uk-active{% else %}{% endmatch %}"><a href="/loadouts">Loadouts</a></li>
						<li class="uk-visible@s{% match base.active_link %}{% when ActiveLink::Guides %} uk-active{% else %}{% endmatch %}"><a href="/guides">Guides</a></li>
						<li class="uk-visible@s{% match base.active_link %}{% when ActiveLink::About %} uk-active{% else %}{% endmatch %}"><a href="/about">About</a></li>
						{% match base.user %}
							{% when Some with (user) %}
								<li class="uk-visible@s uk-active"><a href="/users/{{ user.steam_id }}">{{ user.id }}</a></li>
								<li class="uk-visible@s"><a href="/auth/logout">Log out</a></li>
							{% when None %}
								<li class="uk-visible@s"><a href="/auth/login">
									<img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"/>
								</a><li class="uk-visible@s">
						{% endmatch %}
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="spacer"></div>

	{% block outer_content %}
	<section class="uk-section"> 
		<div class="uk-container uk-container-small">
			{% block content %}
			{% endblock content %}
		</div>
	</section>
	{% endblock outer_content %}

	<footer id="site-foot" class="uk-section uk-section-secondary uk-section-xsmall">
		<div class="uk-container uk-text-small uk-text-center">
			<p class="uk-text-small uk-text-center">
				<a href="https://github.com/64/mordhub">Contribute to MordHub</a> &middot;
				<a href="https://github.com/64">Created by Matt Taylor</a> &middot;
				Copyright 2019
			</p>
		</div>
	</footer>
</body>
</html>
