<!DOCTYPE html>
<html>
<head>
	<title>{% block page_title %}Mordhub{% endblock %}</title>
</head>

<body>
	<h1>{% block header %}Welcome to Mordhub{% endblock %}</h1>

	{% if user %}
		<p>You are logged in as: {{ user.steam_id }}</p>
		<a href="/auth/logout">Log out</a>
	{% else %}
		<a href="/auth/login">
			<img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"/>
		</a>
	{% endif %}

	<div id="nav">
	{% block nav %}
		<a href="/">Home</a>
		<a href="/loadouts">Loadouts</a>
	{% endblock %}
	</div>

	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
</body>
</html>
